%p.timestamp{id: "#{timestamp.uid}"}
  = timestamp.display_time
  - if timestamp.segment
    \-
    %strong= timestamp.segment.title
  \-
  %span.comment= timestamp.comment
  \-
  %span
    = fa_icon 'thumbs-o-up'
    = timestamp.votes_for.count
:javascript
  time = document.getElementById("#{timestamp.uid}")
  time.addEventListener("click", function() {
    uyd = document.getElementById("#{timestamp.episode.uid}")
    uyd.currentTime = #{timestamp.start}
  })
