%p.timestamp{id: "#{timestamp.uid}"}
  = timestamp.display_time
  - if timestamp.segment
    \-
    %strong= timestamp.segment.title
  \-
  %span.comment= timestamp.comment
  \-
  %span.vote
    - if timestamp.liked_by current_user
      = link_to vote_timestamp_path(timestamp), remote: true, method: :put do#, data: { toggle_icon: 'thumbs-o-up' } }
        = fa_icon 'thumbs-o-up'
    - else
      = link_to vote_timestamp_path(timestamp), remote: true, method: :put do#, data: { toggle_icon: 'thumbs-up' } }
        = fa_icon 'thumbs-up'

    -# - if timestamp.liked_by current_user
    -#   %a{href: vote_timestamp_path(timestamp), remote: true, method: :put, data: { toggle_icon: 'thumbs-o-up' } }
    -#     = fa_icon 'thumbs-o-up'
    -# - else
    -#   %a{href: vote_timestamp_path(timestamp), remote: true, method: :put, data: { toggle_icon: 'thumbs-up' } }
    -#     = fa_icon 'thumbs-up'

    -# - if timestamp.liked_by current_user
    -#   %a{href: unlike_timestamp_path(timestamp), remote: true, method: :put, data: { toggle_icon: 'thumbs-o-up' } }
    -#     = fa_icon 'thumbs-up'
    -# - else
    -#   %a{href: like_timestamp_path(timestamp), remote: true, method: :put, data: { toggle_icon: 'thumbs-up' } }
    -#     = fa_icon 'thumbs-o-up'
    %span.vote-count{id: "#{timestamp.uid}-votes"}= timestamp.votes_for.count
:javascript
  time = document.getElementById("#{timestamp.uid}")
  time.addEventListener("click", function() {
    uyd = document.getElementById("#{timestamp.episode.uid}")
    uyd.currentTime = #{timestamp.start}
  })
