%p.timestamp
  %span{id: "#{timestamp.uid}"}
    = timestamp.display_time
    - if timestamp.segment
      \-
      %strong= timestamp.segment.title
    \-
    %span.comment= timestamp.comment
    \-
  %span.vote
    - if current_user.liked? timestamp
      = link_to vote_timestamp_path(timestamp), id: "#{timestamp.uid}-vote", remote: true, method: :put do
        %i.fa.fa-thumbs-up
        %span.vote-count{id: "#{timestamp.uid}-count"}= timestamp.votes_for.count
    - else
      = link_to vote_timestamp_path(timestamp), id: "#{timestamp.uid}-vote", remote: true, method: :put do
        %i.fa.fa-thumbs-o-up
        %span.vote-count{id: "#{timestamp.uid}-count"}= timestamp.votes_for.count