<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @timestamp.start %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @timestamp.comment %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @timestamp.episode %>
</p>

<%= link_to 'Edit', edit_timestamp_path(@timestamp) %> |
<%= link_to 'Back', timestamps_path %>
