%h2= episode.title
%audio.uyd-audio{id: "#{episode.uid}", controls: ""}
  %source{src: "#{episode.url}"}
    Can't play it!
-# - @timetstamps = episode.timestamps
= render partial: "timestamps/form", locals: {episode: episode}
= render partial: episode.timestamps, locals: {episode: episode}
