%h1 Listing segments

%table
  %thead
    %tr
      %th Title
      %th
      %th
      %th

  %tbody
    - @segments.each do |segment|
      %tr
        %td= segment.title
        %td= link_to 'Show', segment
        %td= link_to 'Edit', edit_segment_path(segment)
        %td= link_to 'Destroy', segment, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Segment', new_segment_path
